# Experiment 5
## Title - To study sets and dictionaries in python

### Kshitij Dalvi
### Batch - E&TC A3
### PRN - 25070123066
### Date - 28-01-2026

# Sets

In [ ]:
# Creation of Set
thisset = {"Messi", "Suarez", "Neymar"}
print(thisset)

{'Messi', 'Neymar', 'Suarez'}

In [ ]:
# Duplicates not allowed
thisset = {"Messi", "Suarez", "Neymar", "Messi"}
print(thisset)

{'Messi', 'Neymar', 'Suarez'}

In [ ]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
thisset = {"Messi", "Suarez", "Neymar", True, 1, 2}
print(thisset)

{True, 2, 'Suarez', 'Messi', 'Neymar'}

In [ ]:
# A Set with strings,integers and boolean values:
set1 = {"xyz", 14, False, 40, "Female"}
print(set1)

{False, 'Female', 'xyz', 40, 14}

In [ ]:
# To check memebrship
thisset = {"Messi", "Suarez", "Neymar"}
print("Messi" in thisset)
print("Ronaldo" in thisset)

True
False

In [ ]:
# Once a set is created, you cannot replace its items,
# but you can add new items.
thisset = {"Messi", "Suarez", "Neymar"}
thisset.add("Iniesta")
print(thisset)

{'Messi', 'Iniesta', 'Neymar', 'Suarez'}

In [ ]:
# Remove Item
thisset = {"Messi", "Suarez", "Neymar"}
thisset.remove("Suarez")
thisset

{'Messi', 'Neymar'}

In [ ]:
# Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", B -A)
print("Symmetric Difference:", A ^ B)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {8, 6, 7}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

## Python frozenset

In [ ]:
x = frozenset("{}")

In [ ]:
''' Problem Statement 1 : Unique Event Participants

A college event has a list of students who registered multiple times by mistake.
Write a program using set to store participant Names and display only unique participants.'''

participants = {"Khush","Harshit","Dhvan","Krishiv","Swastik","Khush","Harshit","Kshitij","Harshit","Medhansh","Vishvam","Kshitij"}
print("Unique participants are ",participants)

Unique participants are  {'Khush', 'Vishvam', 'Dhvan', 'Krishiv', 'Swastik', 'Medhansh', 'Harshit', 'Kshitij'}

In [ ]:
''' Problem Statement 2 : Three students choose elective subjects.
Find the common subjects chosen by all students using set operations.
concept used : Set intersection (&)'''

student1 = {"Physics","Mathematics","Biology","Psychology","Hisotry"}
student2 = {"Physics","Mathematics","Chemistry","Geography","Economics"}
student3 = {"Physics","History","Chemistry","Geography","Economics"}
Intersection = student1 & student2 & student3

print ("The common subject is", Intersection, student1&student2&student3)

The common subject is {'Physics'} {'Physics'}

In [ ]:
''' Problem Statement 3: One set contains students in the cricket club,another in the football club.
Find students who are:1. In both clubs 2. In only one club
Concept Used: Intersection,Symmetric difference'''

Cricket_club = {"Khush","Harshit","Dhvan","Krishiv","Swastik"}
Football_club = {"Khush","Swastik","Kshitij","Medhansh","Vishvam"}
Intersection = Cricket_club & Football_club
print("Students in both clubs are",Intersection)
Symmetric_difference = Cricket_club ^ Football_club
print("Students in only one club are",Symmetric_difference)

Students in both clubs are {'Khush', 'Swastik'}
Students in only one club are {'Krishiv', 'Dhvan', 'Harshit', 'Medhansh', 'Vishvam', 'Kshitij'}

In [ ]:
''' Problem statement 4 : Absent Students
Given as set of all students and a set of presnet students, find the absent students.
Concept Used: Difference(-)'''
Original_students = {"Khush","Harshit","Dhvan","Krishiv","Swastik","Kshitij","Medhansh","Vishvam"}
Present_students = {"Khush","Harshit","Dhvan","Krishiv","Swastik"}
Absent = Original_students - Present_students
print("Absent students are",Absent)

Absent students are {'Medhansh', 'Vishvam', 'Kshitij'}

In [ ]:
''' Problem statement 5: Remove Invalid entries
A set contains valid course codes.
Remove a discontinued course code from the set.
Concept used: remove() / discard()'''
course_codes = {"AMT","FEEE","IKS","ECSF","DCLD"}
course_codes.remove("IKS")
print("The updates course list is",course_codes)

The updates course list is {'DCLD', 'AMT', 'ECSF', 'FEEE'}

# Dictionaries

In [ ]:
# Dictionary takes latest value give for key.It will not allow duplicaTES
thisdict = {
  "brand": "BMW",
  "model": "5 series",
  "year": 2012

}
print(thisdict)

{'brand': 'BMW', 'model': '5 series', 'year': 2012}

In [ ]:
# Dictionary takes latest value given for key. It will not allow duplicate keys; the last value for a key is kept.
beamer = {
  "brand": "BMW",
  "model": "5 series",
  "year": 2012,
  "year": 2015

}
print(thisdict)
print(type(thisdict))

{'brand': 'BMW', 'model': '7 series', 'color': 'black'}
<class 'dict'>

In [ ]:
# Changing the values in the dictionary
beamer = {
  "brand": "BMW",
  "model": "5 series",
}
x = thisdict.values()
print(x)#before the change
thisdict["model"] = "7 series"
print(thisdict)

dict_values(['BMW', '5 series', 'black'])
{'brand': 'BMW', 'model': '7 series', 'color': 'black'}

In [ ]:
# Adding to the dictionary
beamer = {
  "brand": "BMW",
  "model": "5 series",
}
x = thisdict.values()
print(x)#before the change
thisdict["color"] = "black"
print(thisdict)

dict_values(['BMW', '7 series', 'black'])
{'brand': 'BMW', 'model': '7 series', 'color': 'black'}

In [ ]:
student = {
    "PRN": 25070123066,
    "Name": "Kshitij Dalvi",
    "Branch": "E&TC",
    "Batch": "A3"
}
print("Batch:", student["Batch"])

Batch: A3

In [ ]:
# Addding and Updating Elements
student["year"] = "First"
student["Name"] = "Kshtij Dalvi"
print(student)

{'PRN': 25070123066, 'Name': 'Kshtij Dalvi', 'Branch': 'E&TC', 'Batch': 'A3', 'year': 'First', 'name': 'Khush'}

In [ ]:
# Remove Elements
student.pop("Branch")
print("After removal:" , student)

After removal: {'PRN': 25070123066, 'Name': 'Kshtij Dalvi', 'Batch': 'A3', 'year': 'First', 'name': 'Khush'}

In [ ]:
'''1. A dictionary stores product names and their prices.Write a python program to update the price of a given product.'''
products = {"pen": 10,"Book":50, "pencil":20}
print(products)
products["pen"] = 15
print(products)

{'pen': 10, 'Book': 50, 'pencil': 20}
{'pen': 15, 'Book': 50, 'pencil': 20}

In [ ]:
'''2.A dictionary stores student names and marks.Write a python program to search for a student's marks using the name.If student is not found,display a suitable message.'''

student_marks = {"Chintu":60, "Minti":87,"Saddam":90}
name = input("Enter the name of the student: ")
print(student_marks.get(name, "student not found"))

Enter the name of the student: Saddam
90

In [ ]:
'''3.A dictionary stores usernames and passwrods.Write a python program to validate user login.'''
usernames_passwords = {"hi":123, "ola":456,"ciao":789}
login = input("Enter the username: ")
password = int(input("Enter the password:"))
if login in usernames_passwords and password == usernames_passwords[login]:
  print("login successful")
else :
    print("login failed")

Enter the username: ola
Enter the password:456
login successful

In [ ]:
'''4.A dictionary stores student names an marks.Write a python program to find the student who scores the highest marks.'''

marks = {"Shubham":85,"Khush":95,"Om":75}
topper = max(marks, key=marks.get)
print("Topper is", topper)
print("Marks:", marks[topper])

Topper is Khush
Marks: 95