# Experiment 4
## Name : Kshitij Dalvi
## PRN : 25070123066
## Batch : A-3

In [ ]:
# Python Tuples
# Create Tuple and access tuple items
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
print(mytuple)
print(mytuple[1])

('Zebra', 'Lion', 'Rhino', 'Elephant')
Lion

In [ ]:
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
mytuple[1]="Tiger"
print(mytuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
mytuple.append("Tiger")
print(mytuple)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Add to a tuple
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
a = ("Tiger",)
mytuple += a
print(mytuple)

('Zebra', 'Lion', 'Rhino', 'Elephant', 'Tiger')

In [ ]:
# Slicing of a tuple
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
print(mytuple[2:5])
print(mytuple[-4:-2])
print(mytuple[-4:])
tuple1=[20,30,50,60,40,10,70]
print(tuple1[1:3])
print(tuple1[1:3:1])
print(tuple1[1:5:2])
print(tuple1[1:4:3])
print(tuple1[6:4:-2])
print(tuple1[4:6:-1])
print(tuple1[-2:-4:-2])

('Rhino', 'Elephant')
('Zebra', 'Lion')
('Zebra', 'Lion', 'Rhino', 'Elephant')

In [ ]:
'''Students exam result stored in a tuple with three fixed field
Subject Name, Marks Obtained, and Grade'''
result = ("EDA",79,"A")
subject, marks, grade = result
print("Subject name :",subject)
print("Marks obtained :",marks)
print("Grade :",grade)
if result[1]>=75:
  print("Distinction")

Subject name : EDA
Marks obtained : 79
Grade : A
Distinction

In [ ]:
'''Organization records a employee's daily attendance for a week using a tuple
P for present and A for absent'''
attendance=("P","P","P","A","A","P")
print("Total number of present days :",attendance.count("P"))
print("Total number of absent days :",attendance.count("A"))
if attendance.count("A")>0:
  print("Absent atleast once)"

Total number of present days : 4
Total number of absent days : 2
Absent atleast once